﻿:root {
  /* COLORES */
  --primary-color: white;
  --secondary-color: #0fda6c;
  /* #046d97 */
  --warning-color: #edbc1d;
  /* #049fae */
  --light-bg: #2e68a9;
  /* #07585c */
  --dark-bg: #21212a;
  /* #041224 */
  --darker-bg: #050504;
  /* #050504 */
  /* PADDING */
  --paddingMax: 80px;
  --paddingMin: 20px;
  /* ANIMATIONS */
  --transition-time: 0.5s;
}

/* FUENTES */

@import url("http://fonts.cdnfonts.com/css/maison-neue");
/*! Fuente Maison Neue Mono online. Versión alternativa.
@font-face {
  font-family: "Maison Neue Mono";
  src: url("http://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.ttf") format("truetype");
}
*/

@font-face {
  font-family: "Maison Neue Mono";
  src: url("../fonts/MaisonNeue-Mono.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Maison Neue Mono Italic";
  src: url("../fonts/MaisonNeue-MonoItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NBArchitekt";
  src: url("../fonts/NBArchitektStd-Regular.otf"), url("../fonts/NBArchitektStd-Light.otf"), url("../fonts/NBArchitektStd-Bold.otf");
  font-weight: normal;
}

@font-face {
  font-family: "NBArchitekt Neue";
  src: url("../fonts/NBArchitektStdNeue-Regular.otf"), url("../fonts/NBArchitektStdNeue-Light.otf"), url("../fonts/NBArchitektStdNeue-Bold.otf");
  font-weight: normal;
}

/* ICONOS */

#contact-bar a {
  font-size: 4em;
  color: var(--primary-color);
  transition: all .2s;
}

#contact-bar a:hover {
  transform: scale(1.2);
  transition: all .2s;
}

/* WEBPAGE */

html, body {
  height: 100%;
  margin: 0px;
  color: var(--primary-color);
  background-color: var(--darker-bg);
  scroll-behavior: smooth;
}

.eapp-telegram-chat-root-layout-component>div>div:first-child>div:last-child {
  display: none !important;
}

.eapp-visitor-counter-root-layout-component, .eapp-visitor-counter-root-layout-component a {
  display: none !important;
}

/* TÍTULOS */

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 7.594rem;
  font-family: "Maison Neue", sans-serif;
}

h2 {
  font-size: 5.063rem;
  font-family: "Maison Neue", sans-serif;
}

h3 {
  font-size: 3.375rem;
  font-family: "NBArchitekt Neue";
  text-transform: lowercase;
}

h4, a, button, .btn {
  font-size: 2.25rem;
  font-family: "Maison Neue", sans-serif;
}

h5 {
  font-size: 1.5rem;
  font-family: "Maison Neue", sans-serif;
  margin: 0;
}

small, .text_small {
  font-size: 0.667rem;
}

p {
  font-size: 0.8em;
  font-family: "Maison Neue", sans-serif;
  font-weight: normal;
}

label {
  margin: 0px;
}

mark {
  font-family: "NBArchitekt";
  font-weight: bolder;
  padding: 0px 10px;
  background-color: var(--warning-color);
  color: var(--darker-bg);
  mix-blend-mode: screen;
  display: inline-block;
}

/* LISTAS */

ol, li {
  padding: 0px;
  list-style-type: none;
}

/* LINKS */

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--warning-color);
}

a:hover {
  color: var(--light-bg);
}

a:hover, a:focus, button:hover {
  text-decoration: none;
  transition: all 0.3s;
}

a, button, .btn {
  font-family: "NBArchitekt Neue";
}

/* NAVBAR */

nav {
  padding: 0px 20px;
  background: transparent;
  transition: all 0.5s;
}

nav.opaque {
  background: var(--darker-bg) !important;
  transition: all 0.2s;
}

#navlinks a {
  text-align: center;
  padding: 9px 5px;
  color: var(--primary-color);
  transition: all 0.2s;
}

#navlinks a:hover {
  background-color: var(--warning-color);
  color: var(--darker-bg);
  transition: all 0.2s;
}

.navbar-brand {
  padding: 5px;
}

/* BOTONES */

button {
  text-align: center;
  padding: 8px;
  transition: all 0.2s;
}

button:hover a {
  color: var(--darker-bg);
}

.btn-group {
  margin: 0.67em 0;
}

.buttonDark {
  background-color: var(--darker-bg);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.buttonDark:hover {
  background-color: var(--warning-color);
  color: var(--darker-bg);
}

.buttonLight {
  background-color: var(--light-bg);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.buttonLight:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.buttonLight a {
  color: var(--primary-color);
}

.btn-showMore::before {
  font-family: "Font Awesome 5 Pro";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  margin: 0px 10px;
  line-height: 1;
  content: "\f077";
  transition: all .2s
}

.collapsed .btn-showMore::before {
  transform: rotate(180deg);
  transition: all .2s
}

/* SECCIONES */

section {
  padding: var(--paddingMax);
}

/* HOME SECTION */

#home-section {
  background-image: url("../img/wallpaper/8.jpg");
  background-attachment: fixed;
  /* Convertir a PARALLAX */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  text-shadow: 0px 0px 5px var(--darker-bg);
}

#home-section img {
  object-fit: contain;
}

#nombre {
  font-size: 8em;
  text-transform: uppercase;
  margin: 0px;
}

/* ABOUT ME SECTION */

#aboutme-section {
  background-image: url("../img/wallpaper/dat-geo-fiducial.gif");
  background-size: auto;
  background-attachment: fixed;
}

#aboutme-section img {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  display: inline-block;
}

/* FACTS SECTION */

#facts-section {
  background-image: url("../img/wallpaper/Pattern.png");
  background-attachment: fixed;
}

#facts-section h4 {
  transition: transform 0.2s;
  transition: all 0.2s;
}

#facts-section h4:hover {
  transform: scale(1.02);
  cursor: default;
  transition: all 0.2s;
}

/* STATISTICS SECTION */

#statistics-section {
  background-color: var(--dark-bg);
  background-image: url("../img/wallpaper/2.jpg");
  background-attachment: fixed;
}

#statistics-banner h2 {
  font-family: "NBArchitekt Neue";
  text-transform: lowercase;
}

#statistics-banner div {
  transition: all .2s
}

#statistics-banner div:hover {
  transform: scale(1.2);
  transition: all .2s
}

#chart-section {
  display: none;
}

#chart {
  width: 100%;
}

#columnStats>div {
  transition: all .2s
}

#columnStats>div:hover {
  transform: scale(1.02);
  transition: all .2s
}

#codingStatistics-section img {
  width: 100%;
}

.bar {
  background-color: var(--dark-bg);
  border-radius: 5px;
  transition: transform 0.2s;
}

.bar:hover {
  background-color: var(--dark-bg);
  border-radius: 5px;
  transition: transform 0.1s;
}

.skills {
  padding: 3px;
  color: var(--darker-bg);
  width: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--primary-color);
  transition: width 3s cubic-bezier(0.67, 0.01, 0.46, 1.01);
}

/* LANGUAGES AND TOOLS SECTION */

#languagesAndTool-section {
  background-image: url("../img/wallpaper/dat-geo-fiducial.gif");
  background-size: auto;
  background-attachment: fixed;
}

#languagesAndTool-section a {
  font-size: 4em;
  transition: all 0.3s;
}

#languagesAndTool-section a:hover {
  transform: scale(1.2);
  transition: all .2s;
}

/* PROJECTS SECTION */

#project-section {
  background-color: var(--light-bg);
  background-image: url("https://images.unsplash.com/photo-1507764923504-cd90bf7da772");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* PROYECTOS */

article a {
  background-size: cover;
  background-repeat: no-repeat;
}

.cardProject, .cardCertificado {
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
  background-color: var(--primary-color);
  height: 11em;
  color: var(--primary-color);
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  box-shadow: 0 0 2em -1em black;
  transition: all, var(--transition-time);
  overflow: hidden;
  border: 1px solid var(--dark-bg);
  transition: all var(--transition-time);
}

.cardProject:hover {
  height: 15em;
  transition: all var(--transition-time);
}

.cardProject p {
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: none;
  transition: all var(--transition-time);
}

.cardProject:hover p {
  display: inline-block;
  height: 6em;
  -webkit-line-clamp: 4;
  transition: all var(--transition-time);
}

.cardProject .tags .tag {
  color: var(--darker-bg);
  background: var(--warning-color);
  border-radius: 0.3rem;
  transition: all, var(--transition-time);
}

.cardProject:hover .tags .tag {
  background: var(--dark-bg);
  color: var(--primary-color);
}

.cardProject .type {
  position: absolute;
  top: 0;
  right: 0;
}

/* CIRCLES */

.cardProject:before, .cardProject:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.cardProject:before {
  background: var(--darker-bg);
  width: 250%;
  height: 250%;
}

.cardProject:after {
  background: var(--darker-bg);
  width: 200%;
  height: 200%;
}

.cardProject:hover {
  color: var(--color);
}

.cardProject:hover:before, .cardProject:hover:after {
  transform: scale(1);
}

/* FOOTER SECTION */

footer {
  background-image: url("https://media1.giphy.com/media/F8C2mZCv9wDE4/source.gif");
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

/* EFFECTS */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: donut-spin 1.2s linear infinite;
}

.zoom {
  transition: transform 0.2s;
  transition: all 0.2s;
}

.zoom:hover, button:hover, a:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}

/* --- RESPONSIVE --- */

/* TABLET
Esta Media Query se ejecutará sólo cuando la anchura de
la ventana del navegador sea mayor de 768 píxeles. */

@media screen and (max-width: 1024px) {
  #home-section img {
    display: none;
  }

  #aboutme-section img {
    width: 120%;
  }

  #listaProyectos article {
    padding: 1em !important;
  }
}

/* MÓVIL
Esta Media Query se ejecutará sólo cuando la anchura de
la ventana del navegador sea menor de 620 píxeles. */

@media screen and (max-width: 620px) {
  section {
    padding: var(--paddingMin);
  }

  #logo img {
    max-height: 20px;
    padding: 0px;
  }

  nav {
    padding: 10px;
  }

  #aboutme-section img {
    width: 80%;
  }

  #chart {
    height: 100%;
  }
}